doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title {{ title }} | N2Code
  body 
    header
      img(src="{{ bannerLink }}", alt="banner")
    article
      session.
        {{ content }}
    footer.
      @nmhillusion