doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title {{ title }} | N2Code
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap", rel="stylesheet")
    meta(name="cache-control", content="public, max-age=86400")
  body 
    article
      header(style="background-image: url({{ bannerLink }})")
      section.
        {{ content }}
    footer.
      @nmhillusion

    link(rel="stylesheet", href="{{n2v:contextPath}}/layout/post-layout.css")