doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title {{ title }} | N2Code
    base(href=".")
  body 
    header
      img(src="{{ bannerLink }}", alt="banner")
    article
      section.
        {{ content }}
    footer.
      @nmhillusion

    link(rel="stylesheet", href="/layout/post-layout.css")