doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title {{ title }} | N2Code
  body 
    article
      header(style="background-image: url({{ bannerLink }})")
      section.
        {{ content }}
    footer.
      @nmhillusion

    link(rel="stylesheet", href="{{n2v:contextPath}}/layout/post-layout.css")