body {
  margin: 0;
  padding: 0;
}

article {
  background-color: #ddd;

  header {
    width: 100%;
    max-width: 50em;
    display: block;
    margin: auto;
    height: 25em;
    padding: 1em;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    background-repeat: repeat-x;
    background-position: center center;
    background-size: auto 100%;
  }

  section {
    width: 100%;
    max-width: 50em;
    margin: auto;
    padding: 1em;

    background-color: white;
    box-shadow: 2px 2px 8px #ddd;
    border-radius: 0.5em;
  }
}

footer {
  font-family: monospace;
  text-align: center;
}
